
body {
	
	background-color: #F6F6F6;
}

*:focus {outline: none;}
.container {
	text-align: center;
	min-width: 320px;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style-image:url(../images/diamond.png);
}
h2.subtitle {
	font-family: 'Exo 2.0 Medium', arial;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	color: black;
	width:100%;
	margin-bottom: 30px;
}
 div.logo{
 	display: block;

 }
 p.header{

 	text-align: center;
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 16px;
    font-weight: bold;
 }
 p.address{
 	text-align: right;
 	color: #818181;
 	font-family: 'Exo 2.0 Light', arial;
    font-size: 12px;
 }
 p.address span.number{
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 20px;
    font-weight: 600;
    color: black;
 }
 p.address span.email{
    color: #ed6c14;
 }
 .main-menu{
 	clear:left;
 	list-style-type: none;
 	padding: 20px;
 }
 .main-menu > li{
 	display:inline; 
 	margin-right:15px;
 }
 .main-menu a:hover{
    color: orange;
    text-decoration: none;
    font-family: 'Exo 2.0 Semi Bold', arial;
}
.main-menu a{
 	color: black;
 	font-weight: 500;
    text-decoration: none;
    font-family: 'Exo 2.0 Regular', arial;
}
.forms-block{
	height: auto;
}
.forms > h1{
	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.forms,  img{
	display: block;
 	float: left;
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 14px;
}

.form-call input, .form-consultation input{
	width: 250px;
	margin-bottom: 15px;
	padding: 7px;
	border: 1px solid #CBCBCB;
}
.form-call input:focus, .form-consultation input:focus {
	border: 1px solid #EC6A11;
}
.form-call input[type="submit"], .form-consultation input[type="submit"] {
	background-color: #8E8E8E; 
	color: white;
	width: 200px;
	border: 1px solid #8E8E8E;
	margin-top: 5px;
}
.form-call input[type="submit"]:hover, .form-consultation input[type="submit"]:hover {
	background-color: #EC6A11;
	border: 1px solid #EC6A11;
}
.img-container img { 
	width: auto;
	height: auto;
	max-height: 350px; 
	max-width: 450px; 
	float: right;

}
.forms, .form-call, .form-consultation{
	padding-left: 0;
}
.about-company p{
    text-align: left;
    font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
}
h2[class="subtitle"] {
	font-family: 'Exo 2.0 Medium', arial;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	color: black;
}
.about-company > input, .projects input, .projects button {
	display: block;
	background-color: #DFDFDF;
	border: 1px solid #DFDFDF;
	float: right;
	font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
}
.projects a img, .kinds img, .shares img, .image img, .completed-work-image img{
	width: 100%;
	height: auto;
}
.projects .sale_badge {
	display:block;
	position: absolute;
}
p.sale {
	display:block;
	position: absolute;
	color: white;
	background-color: #E80000;
	width: 40%;
	padding: 5px 10px 5px 10px;
	margin-left: 50%;
	margin-top: 15px;

}
p[class="project-subtitle"], p[class="kind-subtitle"] {
	font-family: 'Exo 2.0 Regular', arial;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
span[class="project-description"] {
	float: left;
	margin-top: -10px;
	text-align: left;
}
.projects input, .projects button {
    vertical-align: bottom;
    padding-right: 12px;
    bottom: 0; 
    right: 15px; 
    font-weight: bold;
    position: absolute;
}

.projects button div {
	visibility: hidden;
	width: 12px;
    height: 12px;
    float: left;
    margin-left: -6px;
    margin-top: 6px;
    background: #ec6a11;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}

.project button:hover div {
	visibility: visible;
}

.projects input:hover, .projects button:hover {
	background-color: black;
	color: white;
}
.project {
	margin-bottom: 30px;
}
.projects a {
 	text-decoration: none;
 	border-bottom: 1px solid black;
 	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 16px;
	color: black;
	font-weight: bold;
}
h3[class="advantage"] {
 	font-family: 'Exo 2.0 Black', arial;
	font-size: 20px;
}
p[class="advantage"] {
 	font-family: 'Open Sans Light', sans-serif;
 	font-size: 14px;
 	margin-top: -15px;
}
.advantages img {
	display: block;
margin-left: auto; 
margin-right: auto; 
float: none;
}
.kind-subtitle > .price{
 	font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
	color: #C7C7C7;
}
ul[class="kind-description"] {
	text-align: left;
}
.shares button{
	background-color: #ECECEC;
	width: 180px;
	border: 1px solid #ECECEC;
	color: #B8B8B8;
	padding: 5px;
	font-family: 'Exo 2.0 Medium', arial;
	position: relative;
    top: -15px;
}
.shares button:hover{
	background-color: black;
	color: white;
}
footer {
	background-color: black;
    position: relative;
    height: 110px;
    width: 100%;
    margin-top: -40px;
    margin-bottom: 0px;
	clear:both;

}
.conteiner-footer > p[class="address"]{
	display: block;
	float: left;
	text-align: left;
	margin-bottom: 0;
}
.conteiner-footer > p[class="address"] span[class="number"]{
	color: white;
}
.conteiner-footer .logo {
	margin-top: 20px;
	padding-right: -100px;
}
.conteiner-footer img.logo {
	height: 100px;
}
.ogrn {
	display: block;
	float: right;
	margin-top: 30px;
}
a.footer_back_to_top {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
	margin-top: -30px;
	
}

.footer_back_to_top {
	text-align: center;
}

.home-kit {
	text-align:left;
	margin-bottom: 40px;
}

.home-kit h3 {
	color: #EC6A11;
	margin: 0 10px 0 0;
	font-size: 16px;
	width: 100%;
	font-family: 'Exo 2.0 Medium', arial;
	padding: 0;
	margin: 0;
}
.home-kit h4{
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    color: #717171;
    padding: 0;
	margin: 0;
	width: 100%;
}
.complete-description {
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
}
.complete-list{
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    color: black;
}
.complete-list p{
	padding-left: 25px;
	font-weight: bold;
	margin-bottom: 0px;
}

.complete-list ul {
	margin-top: 5px;
}
a.button {
	background-color: #8E8E8E;
	color: #fff;
	font-weight: bold;
	padding: 8px 50px;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 16px;

}
a.button:hover{
	background-color: #EC6A11;
}
.description-materials {
	margin: 0;
	margin-bottom: 50px;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 15px;
    text-align: left;
}
.material {
    margin-bottom: 50px;
}
.material h3 {
	padding: 0;
	margin: 0;
	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 16px;
}

.material .description {
	padding: 0;
	margin: 0;
	padding-right: 30px;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    position: relative;
    text-align: left;
}

.material .description a{
	font-family: 'Exo 2.0 Regular', arial;
	color: black;
	font-weight: bold;
	position: absolute;
	right: 30px;
	bottom: 0;
}
.material img
{
	width: auto;
    height: auto;
}
.filter-buttons button {
	background-color: #8E8E8E;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    color: white;
    padding: 5px 10px;

}
.completed-work-description {
	text-align: left;
	margin: 0;
}

.completed-work-description h3{
    font-size: 16px;
	font-family: 'Exo 2.0 Medium', arial;
	color:black;
	margin: 0;
}
.completed-work-description h4{
    font-size: 14px;
	font-family: 'Exo 2.0 Light', arial;
	margin: 0;
	color: #949494;
}
.filter-buttons {
	margin-bottom: 30px;
	text-align: center;
	padding: 0;
}
.filter-button { margin: 0; padding: 0;} 
.miniature {padding: 0;}
.miniature img {
	height: auto;
	width: 100%;
}