*:focus {outline: none;}
body{
	background: #fefefe; 
	margin: 0; 
	padding: 0;
	font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
	color: #272727;
}
header {
	padding-top: 15px;
	width: 100%;
	height: auto;
	background: url(../src/background_part1.png) no-repeat;
    background-size: 100% 100%;
}
a {
	text-decoration: none;
}
.container-forms {
    width: 100%;
	height: auto;
	background: url(../src/background_part2.png) no-repeat;
    background-size: 100% 100%;
}
.container-content, .container-kinds, .container-shares {
	width: 100%;
	height: auto;
	background-color: white;
    background-size: 100% 100%;
}
.container-advantages {
	width: 100%;
	height: auto;
	background: url(../src/background_part3.png) no-repeat;
    background-size: 100% 100%;
}
.container-footer {
	width: 100%;
	height: auto;
	background: url(../src/footer_background.png) no-repeat;
    background-size: 100% 100%;
}
.container-header, .forms-block, .container-content {
	max-width: 1100px;
	margin: auto; 
	border: 1px solid #ccc;  
	background: #fff; 
	border-radius: 3px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(255,255,255, 0.0);
}
.header {
	font-family: 'Exo 2.0 Medium', arial;
    font-size: 16px;
    font-weight: bold;
}
.address{
	text-align: right;
 	color: #818181;
 	font-family: 'Exo 2.0 Light', arial;
    font-size: 12px;
}
p[class="address"] span[class="number"]{
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
p[class="address"] span[class="email"]{
    color: #ed6c14;
}
.main-menu{
 	clear:left;
 	list-style-type: none;
 	text-align: center;
}
.main-menu > li{
 	display:inline; 
 	margin-right:15px;
}
.main-menu a:hover{
    color: orange;
    text-decoration: none;
    font-family: 'Exo 2.0 Semi Bold', arial;
}
.main-menu a{
 	color: black;
    text-decoration: none;
    font-family: 'Exo 2.0 Regular', arial;
    font-weight: 500;
}
.forms-block{
	height: auto;
	flex-flow: row wrap;
}
.forms > h1{
	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
.forms,  img{
 	margin-right:45px;
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 14px;
}
.form-call, .form-consultation{
	display: inline-block;
	margin-right: 25px;
	text-align: center;
}
.form-call input, .form-consultation input{
	width: 250px;
	margin-bottom: 10px;
	padding: 7px;
	border: 1px solid #CBCBCB;
}
.form-call input:focus, .form-consultation input:focus {
	border: 1px solid #EC6A11;
}
.form-call input[type="submit"], .form-consultation input[type="submit"] {
	background-color: #8E8E8E; 
	color: white;
	width: 200px;
	border: 1px solid #8E8E8E;
	margin-top: 5px;
}
.form-call input[type="submit"]:hover, .form-consultation input[type="submit"]:hover {
	background-color: #EC6A11;
	border: 1px solid #EC6A11;
}
.img-container img { 
	height: auto; 
	width: 100%; 
	margin: 0; 
	padding: 10px 10px 10px 0px; 
	vertical-align: middle; 
	border: none;

}
.about-company {
	flex: 1;
	margin-right: 15px;
}
.projects {
	flex: 3;
	display: flex;
	flex-flow: row wrap;
}
.about-company p{
    text-align: left;
    font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
}
h2[class="subtitle"] {
	font-family: 'Exo 2.0 Medium', arial;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	color: black;
	width:100%;
}
.about-company > input, .projects input, .projects button {
	display: block;
	background-color: #DFDFDF;
	border: 1px solid #DFDFDF;
	float: right;
	font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
}
.projects a img, .kinds img{
	width: 100%;
	height: 200px;
}
.project .sale_badge {
	position: absolute;

}
p.sale {
	position: absolute;
	color: white;
	background-color: #E80000;
	width: 45%;
	padding: 5px 10px 5px 10px;
	margin-left: 45%;
	margin-top: 15px;
	align-self: flex-start;

}
p[class="project-subtitle"], p[class="kind-subtitle"] {
	font-family: 'Exo 2.0 Regular', arial;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
span[class="project-description"] {
	float: left;
	margin-top: -10px;
	text-align: left;
}
.projects button {
    vertical-align: bottom;
    padding-right: 12px; 
    right: 15px; 
    font-weight: bold;

}

.projects button div {
	visibility: hidden;
	width: 12px;
    height: 12px;
    float: left;
    margin-left: -6px;
    margin-top: 6px;
    background: #ec6a11;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}

.project button:hover div {
	visibility: visible;
}

.projects input:hover, .projects button:hover {
	background-color: black;
	color: white;
}

.projects-row{
	width:100%;
	display: flex;
	flex-flow: row wrap;
}
.project{
	position: relative;
	flex: 1 1 calc(33.33% - 20px);
	margin: 10px;
}
.projects>a {	
 	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 16px;
	color: black;
	font-weight: bold;
	text-align: center;
	width:100%;
}