*:focus {outline: none;}
body{
	background: #fefefe; 
	margin: 0; 
	padding: 0;
	font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
	color: #272727;
}
header {
	padding-top: 15px;
	width: 100%;
	height: auto;
	background: url(../image/background_part1.png) no-repeat;
    background-size: 100% 100%;
}
a {
	text-decoration: none;
}
.container-forms {
    width: 100%;
	height: auto;
	background: url(../image/background_part2.png) no-repeat;
    background-size: 100% 100%;
}
.container-content, .container-kinds, .container-shares {
	width: 100%;
	height: auto;
	background-color: white;
    background-size: 100% 100%;
}
.container-advantages {
	width: 100%;
	height: auto;
	background: url(../image/background_part3.png) no-repeat;
    background-size: 100% 100%;
}
footer {
	width: 100%;
	height: auto;
	background: url(../image/footer_background.png) no-repeat;
    background-size: 100% 100%;
}
.container-header, .forms-block, .container-content, .advantages, .container-kinds, .container-shares, .container-footer {
	max-width: 1100px;
	min-width: 300px;
	margin: auto; 
	background: #fff; 
	border-radius: 3px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify;
    justify-content: space-between;
	justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(255,255,255, 0.0);
}
.header {
	font-family: 'Exo 2.0 Medium', arial;
    font-size: 16px;
    font-weight: bold;
}
.address{
	text-align: right;
 	color: #818181;
 	font-family: 'Exo 2.0 Light', arial;
    font-size: 12px;
}
p.address span.number{
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
p.address span.email{
    color: #ed6c14;
}
.main-menu{
 	clear:left;
 	list-style-type: none;
 	text-align: center;
}
.main-menu > li{
 	display:inline; 
 	margin-right:15px;
}
.main-menu a:hover{
    color: orange;
    text-decoration: none;
    font-family: 'Exo 2.0 Semi Bold', arial;
}
.main-menu a{
 	color: black;
    text-decoration: none;
    font-family: 'Exo 2.0 Regular', arial;
    font-weight: 500;
}
.forms-block{
	height: auto;
	-webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.forms > h1{
	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
.forms,  img{
 	margin-right:45px;
 	font-family: 'Exo 2.0 Medium', arial;
    font-size: 14px;
}
.form-call, .form-consultation{
	display: inline-block;
	margin-right: 25px;
	text-align: center;
}
.form-call input, .form-consultation input{
	width: 250px;
	margin-bottom: 10px;
	padding: 7px;
	border: 1px solid #CBCBCB;
}
.form-call input:focus, .form-consultation input:focus {
	border: 1px solid #EC6A11;
}
.form-call input[type="submit"], .form-consultation input[type="submit"] {
	background-color: #8E8E8E; 
	color: white;
	width: 200px;
	border: 1px solid #8E8E8E;
	margin-top: 5px;
}
.form-call input[type="submit"]:hover, .form-consultation input[type="submit"]:hover {
	background-color: #EC6A11;
	border: 1px solid #EC6A11;
}
.img-container img { 
	height: auto; 
	width: auto; 
	margin: 0; 
	padding: 10px 10px 10px 0px; 
	vertical-align: middle; 
	border: none;

}
.container-content {
	margin-bottom: 15px;
}
.about-company {
	-webkit-box-flex: 1;   
    width: 25%;            
    -webkit-flex: 1;       
    -ms-flex: 1;
	flex: 1;
	margin-right: 15px;
}
.container-projects {
	-webkit-box-flex: 3;             
    -webkit-flex: 3;       
    -ms-flex: 3;
	flex: 3;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
}
.about-company p{
    text-align: left;
    font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
}
h2.subtitle {
	font-family: 'Exo 2.0 Medium', arial;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	color: black;
	width:100%;
	margin-bottom: 30px;
	max-height: 30px;
}
.about-company > button, .projects button {
	display: block;
	background-color: #DFDFDF;
	border: 1px solid #DFDFDF;
	float: right;
	font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
}
.projects a img, .kinds img{
	width: 100%;
	max-width: 320px;
	height: auto;

}
.project .sale_badge {
	position: absolute;
	top:0;
}
p.sale {
	position: absolute;
	top:0;
	right:0;
	color: white;
	background-color: #E80000;
	padding: 5px 10px 5px 10px;
	margin-top: 15px;

}
p.project-subtitle, p.kind-subtitle {
	font-family: 'Exo 2.0 Regular', arial;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
}
span.project-description {
	float: left;
	margin-top: -10px;
	text-align: left;
}
.projects button {
    vertical-align: bottom;
    padding-right: 12px; 
    right: 15px; 
    font-weight: bold;
    position: absolute;
	bottom:0;
	right: 0;

}

.projects button div {
	visibility: hidden;
	width: 12px;
    height: 12px;
    float: left;
    margin-left: -7px;
    margin-top: 6px;
    background: #ec6a11;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}
 .project img {
 		border: 1px solid black;
 }
.project button:hover div {
	visibility: visible;
}

.projects button:hover {
	background-color: black;
	color: white;
	border: 1px solid black;
}

.projects-row{
	width:100%;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
}
.project{
	position: relative;
	flex: 1 1 calc(33.33% - 20px);
	margin: 0 10px 10px 10px;
}
.container-projects>a {	
 	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 16px;
	text-decoration: underline;
	color: black;
	font-weight: bold;
	text-align: center;
	-webkit-box-flex: 1;              
    -webkit-flex: 1;       
    -ms-flex: 1;
	flex:1;
}
.advantages {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-flex: 1;              
    -webkit-flex: 1;       
    -ms-flex: 1;
    flex: 1;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
}
.advantage-item {
	-webkit-box-flex: 1;              
    -webkit-flex: 1;       
    -ms-flex: 1;
	flex:1;
}
h3[class="advantage"] {
 	font-family: 'Exo 2.0 Black', arial;
	font-size: 20px;
	text-align: center;
}
p[class="advantage"] {
 	font-family: 'Open Sans Light', sans-serif;
 	font-size: 14px;
 	margin-top: -15px;
 	text-align: center;
}
.advantages img{
	display: block;
    margin-left: auto; 
    margin-right: auto; 
    float: none;
}
.kinds {
	flex:1;
	-webkit-box-flex: 1;   
    width: 25%;            
    -webkit-flex: 1;       
    -ms-flex: 1;
	margin: 10px;
}
.kind-subtitle > .price{
 	font-family: 'Exo 2.0 Light', arial;
	font-size: 14px;
	color: #C7C7C7;
}
ul.kind-description {
	text-align: left;
}
.share {
	flex:1;
	-webkit-box-flex: 1;   
    width: 50%;            
    -webkit-flex: 1;       
    -ms-flex: 1;
	margin: 10px;
}
.share button{
	background-color: #ECECEC;
	width: 180px;
	border: 1px solid #ECECEC;
	color: #B8B8B8;
	padding: 5px;
	font-family: 'Exo 2.0 Medium', arial;
	position: relative;
    top: -15px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}
.share button:hover{
	background-color: black;
	color: white;
}
.share img {
	width: 100%;
	height: auto;
}
.container-footer {
	position: relative;
    justify-content: flex-start;

}
.container-footer .logo{
	padding-top: 15px;
}
.container-footer p.address{
	display: block;
	float: left;
	text-align: left;
	margin-bottom: 0;
	padding-top: 5px;
}
.container-footer > p.address span.number{
	color: white;
}


.container-footer .ogrn {
	position: absolute;
    right: 0;
	top:20px;
}
a.footer_back_to_top {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -25px;
	margin-top: -30px;
	
}
.footer_back_to_top {
	text-align: center;
}
.home-kit{
	border:1px solid #ddd; 
	background: #fefefe; 
	border-radius: 3px;
	margin-bottom: 25px;
}
.container-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: strech; 
	align-content: strech; 
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.home-kit {
	text-align:left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%
 }

a.button {
	background-color: #8E8E8E;
	color: #fff;
	font-weight: bold;
	padding: 8px 50px;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 16px;

}
a.button:hover{
	background-color: #EC6A11;
}
.home-kit h3 {
	color: #EC6A11;
	margin: 0 10px 0 0;
	font-size: 16px;
	width: 100%;
	font-family: 'Exo 2.0 Medium', arial;
	padding: 0;
	margin: 0;
}
.home-kit h4{
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    color: #717171;
    padding: 0;
	margin: 0;
	width: 100%;
}

.image {
	flex: 1;
	flex-flow: row wrap;
	-webkit-box-flex: 1;              
    -webkit-flex: 1;       
    -ms-flex: 1;
}
.home-kit .description {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-flex: 2;              
    -webkit-flex: 2;       
    -ms-flex: 2;
	flex: 2;
	margin-left: 20px;
}
.complete-description {
	-webkit-box-flex: 2;               
    -webkit-flex: 2;       
    -ms-flex: 2;
	flex: 2;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;


}
.complete-list{
	-webkit-box-flex: 1;               
    -webkit-flex: 1;       
    -ms-flex: 1;
	flex:1;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    color: black;
}
.complete-list p{
	padding-left: 20px;
	font-weight: bold;
	margin-bottom: 0px;
}
.image img{width: 100%; height: auto;}
ul {
	list-style-image:url(../image/diamond.png);
}
.complete-list ul {
	margin-top: 5px;
}
.description-materials {
	margin: 0;
	margin-bottom: 50px;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 15px;
}
.material {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 50px;
}
.material img {
	-webkit-box-flex: 1;               
    -webkit-flex: 1;       
    -ms-flex: 1;
	flex:1;
	width: 150px;
	height: 200px;
}
.material h3 {
	padding: 0;
	margin: 0;
	font-family: 'Exo 2.0 Semi Bold', arial;
	font-size: 16px;
}

.material .description {
	-webkit-box-flex: 4;               
    -webkit-flex: 4;       
    -ms-flex: 4;
	flex:4;
	padding: 0;
	margin: 0;
	font-family: 'Exo 2.0 Light', arial;
    font-size: 14px;
    position: relative;
}

.material .description a{
	font-family: 'Exo 2.0 Regular', arial;
	color: black;
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
}